:root {
  --black: rgb(47, 45, 45);
  --white: #eff1d9;
  --dark-blue: rgba(141, 168, 210, 0.486);
  --dark-blue-strong: rgba(14, 28, 52, 0.486);
  /* Font size */
  --fs-small: 24px;
  --fs-title: 30px;
  /* Font familly */
  --ff-lato: "Lato", sans-serif;
}
.app {
  min-height: 100vh;
  background: url("./asets_all/background.jpg") no-repeat fixed center/cover;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.wrapper {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}
.site-name {
  font-size: var(--fs-title);
  font-family: var(--ff-lato);
  text-align: center;
  background-color: var(--white);
  border: 5px solid var(--dark-blue);
  color: var(--black);
  margin-bottom: 30px;
}
.homework {
  font-size: var(--fs-small);
  color: var(--black);
  font-family: var(--ff-lato);
}
.homework__wrapper {
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  background-color: var(--dark-blue);
  padding: 30px 30px;
  box-shadow: 15px 10px 5px var(--dark-blue-strong);
}
.homework__item {
  margin-bottom: 15px;
}
.homework__item:last-child {
  margin-bottom: 0px;
}
.homework__link {
  text-decoration: none;
  color: var(--black);
  padding: 10px;
  border: 2px solid transparent;
  transition: all 0.25s;
}
.homework__link:hover {
  color: rgb(0, 115, 255);
  background-color: var(--white);
  border: 2px solid rgb(70, 63, 63);
}
.homework__title {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
