// * Colors
$c-chinese-white: #e0e0e0;
$c-dark-liver: #4f4f4f;
$c-white: #fff;
$c-black: #000;
// * Font familly
$ff-base: "Roboto", sans-serif;

// * Font-size
$fs-base: 20;
// * Bezier
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// * Transtion
$t-normal: 0.35s $b-normal;
