mixin header()
  header.header
    .header__wrapper.wrapper  
      .header__subtitle The geniuses behind our work
      h1.header__title Our team
      .header__icon
        img(src="./assets/img/bonfire-sharp.png" alt="icon").header__icon-image
