mixin footer()
  footer.footer 
    .wrapper.footer__wrapper 
      .footer__content
        .footer__block.footer__block--column  
          h3.footer__title Need a project?
          .footer__text (239) 555-0108
          .footer__text tanya.hill@example.com
        .footer__block  
          +social()  
      span.footer__subtext © Copyright Manifest Theme. Allrights reserved