include ./header 
include ./banner 
include ./navigation
include ./blog
include ./latest-photos
include ./blog-block
include ./content-item 
include ./the_most_popular
include ./content-header
include ./text
include ./footer
