mixin navigation()
  nav.navigation 
    ul.navigation__list
      li.navigation__item
        a(href="#").navigation__link home
      li.navigation__item
        a(href="#").navigation__link about
      li.navigation__item
        a(href="#").navigation__link works
      li.navigation__item
        a(href="#").navigation__link blog
      li.navigation__item
        a(href="#").navigation__link contact