mixin text()
  section.text 
    .wrapper.text__wrapper 
      .text__block
        .text__title Full-time UI/UX designer Head of Design at VeronaLabs.com
        .text__icon
          a(href = '#').text__link
            <i class="bi bi-arrow-right"></i>
      .text__block
        p.text__text We work with clients around the world from our headquarters in Charleston, South Carolina.
        p.text__text We focus on naming, branding, brand narratives, website design and development, and brand experiences.