mixin the_most_popular()
  section.the_most_popular
    .wrapper.the_most_popular__wrapper 
      +content-header('the-most-popular')
    .the_most_popular__button 
      +button({text:'Load More', classes:'button'})