@import './scss/index';
.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px;
}
.line {
  display: flex;
  justify-content: center;
  height: 3px;
  width: 100%;
  max-width: 1000px;
  background-color: #000;
}
