mixin forms()
  section.forms 
    //- block 1
    .wrapper.forms__wrapper
      h1.forms__title Create an Account
      form(action="#" method='post').form-create
        //- First Last Name
        .form-create__two-forms 
          .form-create__block 
            .form-create__text First Name
            +form-item({
            type:'text',
            name:'first name',})
            .form-create__error Error
          .form-create__block 
            .form-create__text Last Name
            +form-item({
            type:'text',
            name:'last name'})
            .form-create__error
        //-  Email
        .form-create__email 
          .form-create__text Email 
            +form-item({
            type:'email',
            name:'email'})
          .form-create__error
          span.form-create__subtext We'll never share your email with anyone else.
        //- Gender
        .form-create__gender
          .form-create__gender-block 
            .form-create__block 
              +form-item({
                type:'radio', 
                name:'gender', 
                value:'male'})
            .form-create__text Male
              .form-create__error Error  
          .form-create__gender-block 
            .form-create__block 
              +form-item({
                type:'radio', 
                name:'gender', 
                value:'female'})
            .form-create__text Female
              .form-create__error 
          //- Country City
          //- Italy disabled
        +form-location()
          //- Button
        +button({
          text: "Sign Up", 
          type: "submit"})
          //- Footer text
        p.form-create__subtext.form-create__subtext--center By clicking the 'Sign Up' button, you confirm that you accept our 
          a.form-create__link(href="#") Terms of Use 
          span and 
          a.form-create__link(href="") Privacy Policy
        .form-create__footer-text 
          span.form-create__subtext.form-create__subtext--grey Have an account?
          a(href="#").forms__link Log In 
    //- block 2
    .wrapper.forms__wrapper
      h2.forms__title Profile
      form(action="#" method='post').form-create
        .form-create__block-image
          .form-create__image
            img(src="./assets/images/mountian.jpg" alt="photo")
          .form-create__content 
            //- Input type file
            +form-item({type:'file',icon: './assets/icons/camera.svg'})
          .form-create__bucket 
            +button({
              type: 'reset',
              white: true ,
              classes: '',
              icon: './assets/icons/bucket.svg'
              })
        //- Name and Email
        .form-create__two-forms 
          .form-create__block 
            .form-create__text Name
            +form-item({
            type:'text',
            name:'name'})
            .form-create__error Error
          .form-create__block 
            .form-create__text Email
            +form-item({
            type:'email',
            name:'email'
            })
            .form-create__error
        //- Country City
        //- Italy disabled
        +form-location()
        //- Zip and Phone
        .form-create__two-forms 
          .form-create__block 
            .form-create__text Zip Code
            +form-item({
            type:'number',
            name:'number'})
            .form-create__error Error
          .form-create__block 
            .form-create__text Phone Number
            +form-item({
            type:'tel',
            name:'tel'})
            .form-create__error Error
        //- Button
        +button({
          text: "Update",
          type: "submit", 
          classes: 'button--small'})