:root {
  /* * Colors */
  --c-black: #000000;
  --c-white: #ffffff;
  --c-grey: #dadada;

  /* * Font sizes */
  --fs-small: 22px;
  --fs-medium: 28px;
  --fs-big: 36px;

  /* * Fonts */
  --ff-staatliches: "Staatliches";
  --ff-tourney: "Tourney";
  --ff-francois-one: "Francois One";
  --ff-farro: "Farro";
  --ff-pt-sans: "PT Sans";
}
