.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background-color: $c-white;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 0;
  }
  &__logo {
    width: 100%;
    max-width: 140px;
  }
  &__block {
    display: flex;
    align-items: center;
  }
  &__navigation {
    transition: $t-normal;
    @include media('<=lg') {
      opacity: 0;
      pointer-events: none;
    }
    &--show {
      opacity: 1;
    }
  }
  &__search {
    margin-left: 80px;
    width: 16px;
    height: 17px;
  }
  &__burger {
    display: none;
    margin-left: 35px;
    @include media('<=lg') {
      display: block;
    }
  }
}
