mixin content-block()
  section.content-block
    .wrapper.content-block__wrapper 
      h1.content-block__title Architectural Photography
      .content-block__list.content-block__list--1
        .content-block__item.content-block__item--a
          img(src="./assets/images/photo-1.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--b
          img(src="./assets/images/photo-2.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--c
          img(src="./assets/images/photo-3.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--d
          img(src="./assets/images/photo-4.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--e
          img(src="./assets/images/photo-5.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--f
          img(src="./assets/images/photo-6.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
      h2.content-block__title Still Life Photography
      .content-block__list.content-block__list--2
        .content-block__item.content-block__item--g
          img(src="./assets/images/photo-7.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--h
          img(src="./assets/images/photo-8.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--i
          img(src="./assets/images/photo-9.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--j
          img(src="./assets/images/photo-10.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--k
          img(src="./assets/images/photo-11.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--l
          img(src="./assets/images/photo-12.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
      h2.content-block__title Portrait and Fashion Photography
      .content-block__list.content-block__list--3
        .content-block__item.content-block__item--m
          img(src="./assets/images/photo-13.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--n
          img(src="./assets/images/photo-14.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--o
          img(src="./assets/images/photo-15.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--p
          img(src="./assets/images/photo-16.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--n
          img(src="./assets/images/photo-17.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--q
          img(src="./assets/images/photo-17.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--s
          img(src="./assets/images/photo-19.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--r
          img(src="./assets/images/photo-18.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--t
          img(src="./assets/images/photo-20.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--u
          img(src="./assets/images/photo-21.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020
        .content-block__item.content-block__item--v
          img(src="./assets/images/photo-22.jpg" alt="photo").content-block__photo
          .content-block__buttons
            button(type='button').content-block__button
              svg.icon.icon-like
                use(xlink:href='#icon-like')
            button(type='button').content-block__button
              svg.icon.icon-download
                use(xlink:href='#icon-download')
          .content-block__text
            span Jezael Melgoza
            span.content-block__date 5 June 2020






