// * Color
$c-gold: #ffcc00;
$c-white: #ffffff;
$c-light-grey: #666666;
$c-dark-grey: #898f8f;
$c-grey: #333333;
$c-border: #CCCCCC;

// * Font family
$ff-base: "Roboto", sans-serif;
$ff-raleway: "Raleway", sans-serif;

// * Font size
$fs-base: 14;

// * Bezier
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// * Transition
$t-normal: 0.35s $b-normal;
