mixin forms()
  section.forms 
    .forms__wrapper.wrapper  
      h1.forms__title Create an Account
      .forms__first-last-name 
        .forms__first-name First Name
        label(for="name" class="label") First Name
          input(type="text" name="text" id="name" class="input-field")
        label(for="name" class="label") Last  Name
          input(type="text" name="text" id="name" class="input-field")
        .forms__last-name  Last Name 