.form-create {
  &__two-forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    &--circle {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $t-normal;
      width: 20px;
      height: 20px;
      border: 1px solid $c-platinum;
      border-radius: 50%;
      cursor: pointer;
    }
    &--small {
      opacity: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $c-white;
    }
  }
  &__input {
    width: 100%;
    background: $c-white;
    border: 1px solid $c-platinum;
    border-radius: 6px;
    height: em(40);
    padding: 5px;
    transition: $t-normal;
    &:hover {
      border: 1px solid $c-blue;
      opacity: 0.5;
    }
    &--hide {
      display: none;
      &:checked {
        & + .form-create__item--circle {
          background-color: $c-blue;
          & > .form-create__item--small {
            opacity: 1;
          }
        }
      }
    }
    &--size{
      height: 30px;
    }
  }
  &__text {
    font-family: $ff-base;
    font-weight: 400;
    font-size: em(14);
    line-height: 22px;
    letter-spacing: -0.2px;
    color: $c-grey;
  }
  &__subtext {
    font-family: $ff-base;
    font-weight: 400;
    font-size: em(14);
    line-height: 18px;
    letter-spacing: -0.1px;
    color: $c-spanish-grey;
    &--center {
      text-align: center;
      padding: 20px;
      border-bottom: 1px solid $c-platinum;
    }
    &--grey {
      color: $c-grey;
      margin-right: 20px;
    }
  }
  &__email {
    margin-bottom: 20px;
  }
  &__gender {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
  }
  &__gender-block {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__item-gender {
    display: flex;
    margin-right: 20px;
    align-items: center;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__select {
    padding-left: 10px;
    width: 100%;
    height: em(40);
    font-family: $ff-inter;
    font-weight: 400;
    font-size: em(14);
    line-height: 22px;
    letter-spacing: -0.2px;
    color: $c-grey;
    border: 1px solid $c-platinum;
    border-radius: 6px;
    cursor: pointer;
    transition: $t-normal;
    &:hover {
      border: 1px solid $c-blue;
    }
    // Custom Arrow
    -webkit-appearance: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC") !important;
    background-repeat: no-repeat;
    background-position: right 5px center;
  }
  &__footer-text {
    border-top: 1px solid $c-platinum;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
  &__block-image {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }
  &__image {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    height: 80px;
    width: 80px;
    min-width: 80px;
  }
  &__content {
    display: flex;
    margin-right: 10px;
  }
  &__input-file{
    display: none;
  }
  &__icon {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 15px;
    height: 15px;
  }
  &__error {
    height: 15px;
    color: red;
  }
}
