.forms {
  display: flex;
  &__text {
    font-family: $ff-base;
    font-weight: 400;
    font-size: em(14);
    line-height: 22px;
    letter-spacing: -0.2px;
    color: $c-grey;
    margin-right: 20px;
  }
  &__block {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }
  &__link {
    font-weight: 500;
  }
}
